<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rapidark.cloud.base.server.mapper.GatewayRateLimitApisMapper">
    <resultMap id="BaseResultMap" type="com.rapidark.cloud.base.client.model.entity.GatewayRateLimitApi">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="policy_id" jdbcType="BIGINT" property="policyId"/>
        <result column="api_id" jdbcType="BIGINT" property="apiId"/>
    </resultMap>

    <resultMap id="RateLimitApi" extends="com.rapidark.cloud.base.server.mapper.GatewayIpLimitApisMapper.ApiResultMap"
               type="com.rapidark.cloud.base.client.model.RateLimitApi">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="policy_id" jdbcType="BIGINT" property="policyId"/>
        <result column="policy_name" jdbcType="VARCHAR" property="policyName"/>
        <result column="limit_quota" jdbcType="BIGINT" property="limitQuota"/>
        <result column="interval_unit" jdbcType="VARCHAR" property="intervalUnit"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>

    <select id="selectRateLimitApi" resultMap="RateLimitApi">

    </select>
</mapper>
