# maven ignore
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# logs #
logs

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db
Servers
.metadata
upload
temp

# docker ignore
docker/influxdb/data
docker/influxdb/var
docker/monitor/data
/components/common-core/.rebel-remote.xml.bak
/components/common-starter/.rebel-remote.xml.bak
/components/java-sdk/.rebel-remote.xml.bak
/components/tenant-starter/.rebel-remote.xml.bak
/ltc-server/ltc-core/.rebel-remote.xml.bak
/migration/.rebel-remote.xml.bak
/platform/api-spring-server/.rebel-remote.xml.bak
/platform/api-zuul-server/.rebel-remote.xml.bak
/platform/base-client/.rebel-remote.xml.bak
/platform/base-server/.rebel-remote.xml.bak
/platform/generator-server/.rebel-remote.xml.bak
/platform/sba-server/.rebel-remote.xml.bak
/platform/sentinel-dashboard/.rebel-remote.xml.bak
/platform/uaa-admin-server/.rebel-remote.xml.bak
/platform/uaa-portal-server/.rebel-remote.xml.bak
/rapidark-os/eladmin-common/.rebel-remote.xml.bak
/rapidark-os/eladmin-generator/.rebel-remote.xml.bak
/rapidark-os/eladmin-logging/.rebel-remote.xml.bak
/rapidark-os/eladmin-system/.rebel-remote.xml.bak
/rapidark-os/eladmin-tools/.rebel-remote.xml.bak
/services/bpm-client/.rebel-remote.xml.bak
/services/bpm-server/.rebel-remote.xml.bak
/services/comment-server/.rebel-remote.xml.bak
/services/dingtalk-server/.rebel-remote.xml.bak
/services/file-server/.rebel-remote.xml.bak
/services/msg-client/.rebel-remote.xml.bak
/services/msg-server/.rebel-remote.xml.bak
/services/org-server/.rebel-remote.xml.bak
/services/payment-server/.rebel-remote.xml.bak
/services/sso-ui-demo/.rebel-remote.xml.bak
/services/task-client/.rebel-remote.xml.bak
/services/task-server/.rebel-remote.xml.bak
/services/tenant-demo/.rebel-remote.xml.bak
/services/user-server/.rebel-remote.xml.bak
/components/common-core/src/main/resources/rebel.xml
/components/common-starter/src/main/resources/rebel.xml
/components/java-sdk/src/main/resources/rebel.xml
/components/tenant-starter/src/main/resources/rebel.xml
/ltc-server/ltc-core/src/main/resources/rebel.xml
/migration/src/main/resources/rebel.xml
/platform/api-spring-server/src/main/resources/rebel.xml
/platform/api-zuul-server/src/main/resources/rebel.xml
/platform/base-client/src/main/resources/rebel.xml
/platform/base-server/src/main/resources/rebel.xml
/platform/generator-server/src/main/resources/rebel.xml
/platform/sba-server/src/main/resources/rebel.xml
/platform/sentinel-dashboard/src/main/resources/rebel.xml
/platform/uaa-admin-server/src/main/resources/rebel.xml
/platform/uaa-portal-server/src/main/resources/rebel.xml
/rapidark-os/eladmin-common/src/main/resources/rebel.xml
/rapidark-os/eladmin-generator/src/main/resources/rebel.xml
/rapidark-os/eladmin-logging/src/main/resources/rebel.xml
/rapidark-os/eladmin-system/src/main/resources/rebel.xml
/rapidark-os/eladmin-tools/src/main/resources/rebel.xml
/services/bpm-client/src/main/resources/rebel.xml
/services/bpm-server/src/main/resources/rebel.xml
/services/comment-server/src/main/resources/rebel.xml
/services/dingtalk-server/src/main/resources/rebel.xml
/services/file-server/src/main/resources/rebel.xml
/services/msg-client/src/main/resources/rebel.xml
/services/msg-server/src/main/resources/rebel.xml
/services/org-server/src/main/resources/rebel.xml
/services/payment-server/src/main/resources/rebel.xml
/services/sso-ui-demo/src/main/resources/rebel.xml
/services/task-client/src/main/resources/rebel.xml
/services/task-server/src/main/resources/rebel.xml
/services/tenant-demo/src/main/resources/rebel.xml
/services/user-server/src/main/resources/rebel.xml
/components/common-core/.rebel.xml.bak
/components/common-starter/.rebel.xml.bak
/components/java-sdk/.rebel.xml.bak
/components/tenant-starter/.rebel.xml.bak
/ltc-server/ltc-core/.rebel.xml.bak
/migration/.rebel.xml.bak
/platform/api-spring-server/.rebel.xml.bak
/platform/api-zuul-server/.rebel.xml.bak
/platform/base-client/.rebel.xml.bak
/platform/base-server/.rebel.xml.bak
/platform/generator-server/.rebel.xml.bak
/platform/sba-server/.rebel.xml.bak
/platform/sentinel-dashboard/.rebel.xml.bak
/platform/uaa-admin-server/.rebel.xml.bak
/platform/uaa-portal-server/.rebel.xml.bak
/rapidark-os/eladmin-common/.rebel.xml.bak
/rapidark-os/eladmin-logging/.rebel.xml.bak
/rapidark-os/eladmin-system/.rebel.xml.bak
/rapidark-os/eladmin-tools/.rebel.xml.bak
/services/bpm-client/.rebel.xml.bak
/services/bpm-server/.rebel.xml.bak
/services/comment-server/.rebel.xml.bak
/services/dingtalk-server/.rebel.xml.bak
/services/file-server/.rebel.xml.bak
/services/msg-client/.rebel.xml.bak
/services/msg-server/.rebel.xml.bak
/services/org-server/.rebel.xml.bak
/services/payment-server/.rebel.xml.bak
/services/sso-ui-demo/.rebel.xml.bak
/services/task-client/.rebel.xml.bak
/services/task-server/.rebel.xml.bak
/services/tenant-demo/.rebel.xml.bak
/services/user-server/.rebel.xml.bak
/components/java-sdk/src/main/java/rebel.xml
/migration/src/main/java/rebel.xml
/platform/base-client/src/main/java/rebel.xml
/rapidark-os/eladmin-common/src/main/java/rebel.xml
/rapidark-os/eladmin-generator/rebel.xml
/rapidark-os/eladmin-logging/src/main/java/rebel.xml
/rapidark-os/eladmin-tools/src/main/java/rebel.xml
/services/bpm-client/src/main/java/rebel.xml
/services/msg-client/src/main/java/rebel.xml
/services/task-client/src/main/java/rebel.xml
/resources/bootstrap.min.js
/resources/init.min.js
/licensing/start
/resources/vendor.min.js
/resources/xr-styles.css
/resources/images/xrebel.svg
